<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To-Do List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="text" placeholder="Enter task" [(ngModel)]="tasksService.task" (keyup.enter)="addTask()"></ion-input>
      <ion-button size="large" slot="end" (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
  </ion-item>

    <ion-list>
      <ion-reorder-group (ionItemReorder)="reorder($event)" disabled="false">
        <ion-item *ngFor="let todos of tasksService.taskList; index as i">
          <ion-label class="ion-padding ion-text-wrap">{{todos[0]}}</ion-label>
          <ion-checkbox slot="start" [checked]="todos[1]" (ionChange)="change(todos[1], i)"></ion-checkbox>
          <ion-reorder slot="end"></ion-reorder>
          <ion-fab-button size="large" slot="end" color="danger" clear (click)="deleteTask(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-fab-button>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
</ion-content>
